---
import RenderSocialMediaLink from "@components/ui/RenderSocialMediaLink.astro"
import { SectionIds } from "@const/MenuItems"
import { heroContent } from "@const/portfolioData"
import { SocialMedia } from "@const/socialMedia"
import ArrowDown from "@icons/ArrowDown.astro"
import { getImage } from "astro:assets"
import heroBg from "../../assets/images/fondo.webp"

const heroBackground = await getImage({ src: heroBg, format: "avif" })
const socialMediasinfo = [SocialMedia.GITHUB, SocialMedia.LINKEDIN, SocialMedia.CV]
---

<section
  class="relative flex h-dvh max-h-[1000px] min-h-fit flex-col items-stretch justify-center bg-cover bg-center bg-no-repeat text-white"
  style={`background-image: url(${heroBackground.src});`}
  id={SectionIds.ABOUT_ME}
>
  <div class="flex flex-1 items-center justify-start bg-black/70 py-10">
    <div class="mx-auto flex w-[2500px] max-w-(--breakpoint-2xl) flex-col justify-center gap-4 p-4">
      <h1 class="uppercase">{heroContent.title}</h1>
      <article class="max-w-[70ch]">
        {heroContent.paragraphs.map((paragraph) => <p set:html={paragraph} />)}
      </article>

      <div class="flex flex-row gap-3">
        <RenderSocialMediaLink info={socialMediasinfo} />
      </div>

      <a href="#proyect-group" title="Ver más" class="btn__custom mt-2">Ver proyectos</a>
    </div>
    <a
      href="#proyect-group"
      title="Ver proyectos"
      class="absolute bottom-4 left-1/2 -translate-x-1/2"
    >
      <ArrowDown class="basic__hover h-8" />
    </a>
  </div>
</section>
