---
import Prose from "@components/ui/Prose.astro"
import Title from "@components/ui/Title.astro"
import Layout from "@layouts/Layout.astro"
import type { ImageMetadata } from "astro"
import { Image } from "astro:assets"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
  const projects = await getCollection("projects")
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }))
}

const project = Astro.props

const { Content } = await project.render()
---

<Layout title={`${project.data.title} - Carlos Liao`}>
  <section class="mx-auto max-w-(--breakpoint-2xl) pt-32" transition:name={project.data.title}>
    <div class="m-auto flex h-full max-w-(--breakpoint-2xl) flex-col justify-center gap-4 p-4">
      <Title title={project.data.title} />
      <article class="mb-6 flex max-w-[80ch] flex-col gap-3">
        <h5 class="mb-2">Descripción del proyecto</h5>
        <Prose>
          <Content />
        </Prose>
        {
          project.data.links.length > 0 && (
            <div class="bg mt-6 flex flex-wrap items-center gap-3">
              {project.data.links.map((link) => (
                <a
                  href={link.url}
                  aria-current="page"
                  class="btn__custom-black"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {link.label}
                </a>
              ))}
            </div>
          )
        }
      </article>
    </div>
  </section>
  <section class="mb-10 flex flex-col items-center justify-center">
    {
      project.id === "video.md" && (
        <div class="flex w-full max-w-(--breakpoint-2xl) flex-col items-center justify-center gap-3 px-4 md:flex-row">
          <iframe
            src="https://drive.google.com/file/d/1tAt88-s-1RhDpwt3dLxBjXTiMzm89kIS/preview"
            class="aspect-video w-full md:w-1/2"
          />
          <iframe
            src="https://drive.google.com/file/d/166kO8kpcR1liSPD3Wr0wsqXv43wz5zVd/preview"
            class="aspect-video w-full md:w-1/2"
          />
        </div>
      )
    }
    {
      project.data.detailsImages.map((media) => {
        return (
          <Image
            src={media as ImageMetadata}
            alt={project.data.title}
            class="w-full max-w-[2000px]"
          />
        )
      })
    }
  </section>
</Layout>
