---
import InputField, { type InputType } from "@components/ui/InputField.astro"
import { contactContent } from "@const/portfolioData"
---

<form id="form" method="post" class="space-y-6">
  {
    contactContent.formField.map((field) => {
      if (field.type === "textarea") {
        return (
          <textarea
            name={field.name}
            id={field.id}
            placeholder={field.placeholder}
            class="peer min-h-80 w-full rounded-sm p-3"
            required
          />
        )
      }

      return (
        <InputField
          type={field.type as InputType}
          name={field.name}
          id={field.id}
          placeholder={field.placeholder}
          required
        />
      )
    })
  }
  <div>Recaptcha</div>
  <button
    type="submit"
    id={contactContent.formButton.name}
    value={contactContent.formButton.text}
    class="btn-custom cursor-pointer text-white"
  >
    {contactContent.formButton.text}
  </button>
</form>
