---
import InputField from "@components/ui/InputField.astro"
import { contactContent } from "@const/portfolioData"
---

<form id="form" method="post" class="space-y-6">
  <InputField
    type="text"
    name={contactContent.form.name.name}
    id={contactContent.form.name.name}
    placeholder={contactContent.form.name.placeholder}
    required
  />
  <InputField
    type="email"
    name={contactContent.form.email.name}
    id={contactContent.form.email.name}
    placeholder={contactContent.form.email.placeholder}
    required
  />
  <textarea
    name={contactContent.form.message.name}
    id={contactContent.form.message.name}
    placeholder={contactContent.form.message.placeholder}
    class="peer min-h-80 w-full rounded-sm p-3"
    required
  >
  </textarea>
  <div>Recaptcha</div>
  <button
    type="submit"
    id={contactContent.form.submit.name}
    value={contactContent.form.submit.text}
    class="btn-custom cursor-pointer text-white"
  >
    {contactContent.form.submit.text}
  </button>
</form>
